ion-header{
    background-color: #0077B6;
}

ion-button{
    width: 175px;
}
ion-card{
    background-color: #0077B6;
}

img{
    display: block;
    margin: auto;
}

ion-label{
 display: block;
margin: auto;

}

ion-button{
    display: block;
    margin: auto;
    margin-top: 5%;
  
   }

   ion-card-title{
       text-align: center;
       margin-top: 5%;
       color: white;
   }
   p{
       text-align: center;
       color: white;
       margin-top: 5%;

   }