<ion-content [fullscreen]="true">
  
<div id="background-content" part="background">
  <img src="/assets/frbtp-removebg-preview.png">
    <div id="blanche"></div>
    <div id="carreb">

      <p><ion-button id="bi" color="success" href="http://localhost:8100/tabs/tab3">Espace Adhérent</ion-button></p>
      <p><ion-button color="warning" href="https://www.frbtp.re/articles/adherer,2.htm" target="_blank">Adhérer</ion-button></p>
      <p>BIENVENUE SUR DIBOUT-BTP</p>
      <p>Le système d'information collaboratif de votre fédération.</p>




    </div>
</div>




 
</ion-content>
