
<ion-header >
   <img id="imgh" src="/assets/frbtp-removebg-preview.png">
</ion-header>
<ion-content [fullscreen]="true">
  <div>
  <p>REVUE DE PRESSE</p>
  </div>
  <ion-card *ngFor="let revue of press">
    <ion-card-header >
      <h3>{{revue.title.rendered}}</h3>
    </ion-card-header>
  
    <ion-card-content [innerHTML]="revue.excerpt.rendered" >
      <!-- {{revue.excerpt.rendered}} -->
    </ion-card-content>
    <ion-card-content>
      <ion-button expand="block" color="translucent" (click)="goDetail(revue)"  >Lire plus</ion-button></ion-card-content>
    
  </ion-card>
 
  <ion-button expand="block" color="translucent" [routerLink]="['/tabs/tab2']"> Agenda</ion-button>
  <ion-button expand="block" color="translucent"  [routerLink]="['/tabs/tab1']"> Déconnexion</ion-button>
</ion-content>
<ion-footer translucent="false">
  
  
</ion-footer>